*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color:#ffffff ;
    /* padding-top: 1px; */
}
nav{
    max-width:1360px;
    width:85% ;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 139px;
    height: auto; 
    margin: 16px 0px;
}

 nav .menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;

   
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    color: #000000;


}
nav .btn{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    color: #ffffff;
} 
#hero {
    background-image:url(/assets/hero-bg.png);
     height: 100vh;
     background-repeat: no-repeat;
     background-position:center;
     background-size: cover;

}
#hero .hero-container{
    width: 85%;
    max-width: 1360px;
    padding-top: 125px;
    margin: 0 auto;
    text-align: center;
    /* background-color: #ffffff; */
    padding-bottom: 179px;

}
.hero-container .pluse{

    background-color: #ffffff;
    font-size:16px;
    font-weight: 500px;
    color: #469165;
    display:inline-block;
    padding: 12px; 
    border-radius: 1000px;
    margin-bottom: 16px;


}
.hero-heading h2{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #ffffff;
    margin-bottom: 16px;



}
.hero-heading p{
    font-size: 18;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

 .button-group .btn-one{
    background-color: #469165;
    padding: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600px;
    margin-bottom: 179px;
    margin-right:8px ;

 } 
 .button-group .btn-two{
    background: transparent;
    padding: 16px;
    border-radius: 4px;
    color: #ffffff;
    font: size 16px; 
    font-weight: 600;
    margin-bottom: 179px;
    border: 1px solid white;
    margin-left: 8px;


    

 }
 #note{
    padding: 125px;
 }
#note .note-container{
    width: 85%;
    max-width: 1360;
    margin: 0 auto  ;

}
.note-heading h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-bottom: 32px;
}
#note .note-container .note-box{
    display: flex;
    gap: 24px;
}

.note-box .note-card{
    padding: 24px;
    max-width: 322px;
   
    height: 300px;
    text-align: center;
    columns: #ffffff;
    box-shadow: #627382 10px 10px 13px;
    gap: 24px;

}
  .note-card .icon-container   img {
        width: 30px;
       height: auto;
}
.note-card .icon-container{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    

}
.note-heading p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;

}
.note-box .note-card h3{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;



} 
.note-box .note-card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 16px;
}






   













    
    

